<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Tarta de jamon y queso</title>
</head>
<body>
    <H1 id="h1">TARTA DE JAMON Y QUESO</H1>
    <img src="../img/como-preparar-una-deliciosa-pascualina-de-jamon-y-queso.jpg" alt="Tarta de jamon y queso" height="200" width="500">
    <h2 class="colortomato">Ingredientes</h2>
    <h2 class="colortomato">Para el relleno necesitas</h2>
    <ul>
        <li>Mayonesa cantidad necesaria</li>
        <li>200 gr de jamón en fetas </li>
        <li>250 gr de queso cremoso (queso fresco/mozzarella)</li>
        <li>2 huevos</li>
        <li>3 cucharadas de crema de leche</li>
        <li>Sal a gusto</li>
        <li>Rocío vegetal cantidad necesaria</li>
        <li>azúcar opcional</li>
    </ul>
    <h3 class="colortomato">Preparacion</h3>
    <iframe width="500" height="200" src="https://www.youtube.com/embed/NFIHHZvcjaA"></iframe>
    <ol>
        <li>Rociar la tartera con rocío vegetal, en mi caso usé el de Natura y estirar una de las tapas hasta cubrir toda la superficie.</li>
        <li>Untar una o dos cucharadas de mayonesa Natura, que es la que yo usé, en la tapa que va a ser la base de la tarta.</li>
        <li>Desparramar el jamón hasta cubrir toda la superficie. Agregar los trozos de queso de igual manera.</li>
        <li>Mezclar los huevos, la crema y la sal en un bol. Volcar sobre el relleno de la tarta.</li>
        <li>Poner la otra tapa cubriendo la tarta, pintarla con huevo batido y espolvorear con azúcar (opcional).</li>
        <li>Cocinar en horno a 180° o 200° durante 30 minutos o hasta ver la superficie dorada.</li>
    </ol>
    <a href="../../index.html">Volver al inicio</a>
</body>
</html>