<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
  <title>Empanadas de carne</title>
</head>
<body>
    <H1 id="h1">EMPANADAS DE CARNE</H1>
    <img src="../img/Empanada de carne.jpg" alt="Empanadas de carne" height="200" width="500">
    <h2 class="colortomato">Ingredientes</h2>
    <h2 class="colortomato">Para el relleno necesitas:</h2>
    <ul>
        <li>4 cebollas</li>
        <li>4 cebollas de verdeo</li>
        <li>1/2 pimiento rojo</li>
        <li>1/2 pimiento verde</li>
        <li>1 hoja de laurel</li>
        <li>1 kg. de carne picada</li>
        <li>1 cda. de harina</li>
        <li>1 cda. de pimentón</li>
        <li>1 pizca de ají molido</li>
        <li>1/2 cdita. de comino</li>
        <li>3 huevos duros</li>
        <li>1 taza de aceitunas verdes</li>
        <li>Sal y pimienta a gusto</li>
    </ul>
    <h3 class="colortomato">Para la masa necesitas:</h3>
    <ul>
        <li>500 grs. de harina</li>
        <li>1 taza de agua</li>
        <li>2 cdas. de sal</li>
        <li>1 taza de grasa vacuna</li>
    </ul>
    <h3 class="colortomato"> Preparacion</h3>
    <iframe width="500" height="200" src="https://www.youtube.com/embed/NFIHHZvcjaA"></iframe>
    <ol>
        <li>En una sartén grande, calentá el aceite a fuego medio. Añadí la cebolla y el pimiento rojo y sofreí hasta que estén tiernos.</li>
        <li>Incorporá la carne picada y cociná hasta que esté bien dorada.</li>
        <li>Agregá el comino, el pimentón, la sal y la pimienta. Revolvé bien para que todos los ingredientes se integren.</li>
        <li>na vez cocida la carne, retirá del fuego y dejá enfriar un poco. Luego, añadí los huevos duros y las aceitunas. Mezclá bien y reservá.</li>
    </ol>
    <h3 class="colortomato">Armado y coccion</h3>
    <ol>
        <li>recalentá el horno a 200°C.</li>
        <li>Tomá una tapa de empanada y colocá una cucharada generosa del relleno en el centro.</li>
        <li>Doblá la tapa por la mitad, sellando los bordes con un repulgue o con un tenedor.</li>
        <li>Colocá las empanadas en una bandeja previamente aceitada o cubierta con papel manteca.</li>
        <li>Llevá al horno durante 20-25 minutos o hasta que estén doradas.</li>
    </ol>
    <p>Y listo, ahora sabés cómo hacer empanadas de carne al horno con una receta clásica que nunca falla. Servilas calientes y acompañadas de una buena salsa o simplemente solas, porque con su sabor, no necesitan más.

        Esperamos que esta receta de empanadas de carne al horno te haya sido útil y que te animes a prepararlas. Recordá que el éxito de cualquier plato está en la dedicación y el amor con el que lo hacés. ¡Buen provecho!</p>
        <a href="./Tartadejamonyqueso.html">Ir a otra receta</a>
    </body>
</html>